<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask</title>
</head>
<body>
    <h1>Hello from flask app</h1>
    <p>Lorem ipsum, dolor sit amet consectetur 
        adipisicing elit. Incidunt inventore 
        sapiente quidem nisi tempore placeat 
        ullam, dolorum animi reprehenderit unde, 
        vero necessitatibus omnis nobis aspernatur 
        quo cum. Doloremque, alias tempora. </p>
</body>
</html>